$white: #f3f3f3;
$darkblue-alpha: rgba(27, 27, 50, 0.8);
$dark-blue: #1b1b32;
$green: #37af65;
$purple1-linear: rgba(58, 58, 158, 0.8);
$purple2-linear: rgba(136, 136, 206, 0.7);
$shadow-color: rgba(0, 0, 0, 0.4);
